<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackercito.mareagris">

    <application
        android:name=".MareaGrisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MareaGris">

        <activity
            android:name=".ui.activities.detail.ProcesoDetailActivity"
            android:parentActivityName=".ui.activities.list.ProcesoListActivity" />
        <activity
            android:name=".ui.activities.list.ProcesoListActivity"
            android:label="@string/title_activity_proceso_list"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.list.EscuadraListActivity" />
        <activity
            android:name=".ui.activities.edit.ProcesoEditActivity"
            android:parentActivityName=".ui.activities.list.ProcesoListActivity" />
        <activity
            android:name=".ui.activities.news.EscuadraNewActivity"
            android:parentActivityName=".ui.activities.list.EscuadraListActivity" />
        <activity
            android:name=".ui.activities.news.FaccionNewActivity"
            android:parentActivityName=".ui.activities.list.FaccionListActivity" />
        <activity
            android:name=".ui.activities.news.EjercitoNewActivity"
            android:parentActivityName=".ui.activities.list.EjercitoListActivity" />
        <activity
            android:name=".ui.activities.news.JuegoNewActivity"
            android:parentActivityName=".ui.activities.list.JuegosListActivity" />
        <activity
            android:name=".ui.activities.news.EmpresaNewActivity"
            android:parentActivityName=".ui.activities.list.EmpresasListActivity" />
        <activity
            android:name=".ui.activities.list.EscuadraListActivity"
            android:label="@string/activity_name_list_escuadras"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.list.FaccionListActivity" />
        <activity
            android:name=".ui.activities.list.FaccionListActivity"
            android:label="@string/activity_name_list_facciones"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.list.EjercitoListActivity" />
        <activity
            android:name=".ui.activities.list.EjercitoListActivity"
            android:label="@string/activity_name_list_ejercitos"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.list.JuegosListActivity" />
        <activity
            android:name=".ui.activities.list.EmpresasListActivity"
            android:label="@string/activity_name_list_empresas"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activities.list.JuegosListActivity"
            android:label="@string/activity_name_list_juegos"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.list.EmpresasListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>